/* MAIN */
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-family: "Time New Roman", times, serif;
}
body {
    height: 100%;
    background-image: url("/assets/background.png");
    background-attachment: fixed;
}
.center {
    text-align: center;
    margin: auto;
}
.narrow {
    width: 50%;
}

/* PALETTE */
:root {
    --color-text:#333;
    --color-bg1: #DBDCDC;
    --color-bg2: #B8B8B8;
    --color-bg3: #666666;
    --color-bg4: #3D3D3D;
    --color-line1: #DCB680;
    --color-line2: #A88E60;
    --color-line3: #7A705E;
}

/* PAGE */
.page-container {
    margin: 32px 16%;
    min-width: 512px;
}

/* MAIN CONTENT */
main {
    margin-top: 100px;
    padding: 64px;
    display: block;
    background-color: var(--color-bg1);
    color: var(--text-color);
    margin-bottom: 64px;
}
main p, main h1, main h2, main h3 {
    padding: 8px;
}
main h1, main h2, main h3 {
    color: var(--color-line2)
}