/* MAIN */
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-family: Verdana, sans-serif;
}
body {
    height: 100%;
    background-color: var(--color-bg2);
    background-attachment: fixed;
}

/* PALETTE */
:root {
    --color-maintext:#B4B2B0;
    --color-linktext: #867858;
    --color-bg1: #000;
    --color-bg2: #373430;
    --color-bg3: #474542;
    --color-light1: #867858;
    --color-light2: #9c8652;
    --color-headertext1: #F1F2F6;
    --color-headertext2: #C8C6C4;
}

/* PRESETS */
.center-elem {
    margin: auto;
}
.center-text {
    text-align: center;
}
.narrow {
    width: 50%;
}
.greydient {
    background-image: linear-gradient(var(--color-bg2) 50%, #cbcbcb);
}
.text-thin {
    font-weight: 200;
    font-family: 'Segoe UI', sans-serif;
}
.text-bold {
    font-weight: bold;
}
.text-bigh1 {
    font-size: 64px;
}
.text-bigh2 {
    font-size: 48px;
}

/* HEADER */

/* MAIN CONTENT */
main {
    color: var(--color-maintext);
}
main a {
    text-decoration: none;
    color: var(--color-linktext);
}
main a:hover {
    text-decoration: underline;
}

/* SECTIONS */
section {
    position: relative;
    align-items: center;
    min-height: 528px;
    padding: 64px 64px 0 64px;
}